<!DOCTYPE html>
<html>
<head>
  <title>Banane</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Header -->
<header id="header">
  <h1><%= link_to "Banane", root_path %></h1>
  <nav id="nav">
    <%= link_to "home", root_path %>
    <% if user_signed_in? %>
    <%= link_to "let me out", destroy_user_session_path, method: :delete %>
    <% else %>
    <%= link_to "sign up", new_user_registration_path %>
    <%= link_to "let me in", new_user_session_path %>
    <% end %>
  </nav>
</header>

<div id="content">
  <div class="notifications">
    <% if notice %><%= notice %><% end %>
    <% if notice %><%= alert %><% end %>
  </div>

  <%= yield %>

</div>

</body>
</html>
